src/main/mule/bank-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bank-process-api-config" api="bank-process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bank-process-api-main">
        <http:listener config-ref="Global-HTTP_Listener_config" path="${secure::http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bank-process-api-config" />
      
    </flow>
    <flow name="bank-process-api-console">
        <http:listener config-ref="Global-HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bank-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\BankData\(id):application\json:bank-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="46ce3e1d-8156-4320-a102-c356e3abff90" name="update-by-id" />
    </flow>
    <flow name="delete:\BankData\(id):bank-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="4c38c834-ca18-4943-902b-7e1c7d44cce8" name="delete-deatils-by-id" />
    </flow>
    <flow name="get:\BankData:bank-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="46b51325-ce46-4bbd-b92d-a2b65b6a227d" name="select-all-bankdetails" />
    </flow>
    <flow name="get:\BankData\(id):bank-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="04a0af36-bce0-468e-9347-d3c81819478b" name="select-details-by-id" />
    </flow>
    <flow name="post:\BankData:application\json:bank-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="273ba5d1-485b-4b9a-a558-e0e05cd4c8c7" name="insert-detsils-by-id" />
    </flow>
</mule>
